p,
span,
button,
a,
select,
input,
h3{
    font-family: 'Quicksand', sans-serif;
}
.rowBd{
    background-color: rgb(38,42,65);
    min-height: 695px;
}
.firstDiv{
    color: white;
    min-height: 300px;
    justify-content: center;
}
.firstDivs{
    min-height: 50px;
    margin-top: 40px;
}
/* css for search bar */
.boxs{
    width: 80%;
    height: 50px;
    background-color: rgb(60,63,84);
    border-radius: 30px;
    display: flex;    
    align-items: center;
    padding: 20px;
}
.boxs > i {
    font-size: 20px;
    color: #777;
}
.boxs > input {
    flex: 1;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgb(60,63,84);
}
.boxs > a{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.boxs > a:hover{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(214, 200, 200);
}
.boxs > a:focus{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(97, 95, 95);
}
/* end of css search bar */
.hoves:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 5px grey;
}

.userStyle{
    margin-top: 40px;
    min-height: 50px;
    margin-bottom: 20px;
}
#usersStyle{
    margin-top: 20px;
    height: 100px;
    color: white;
    background-color: rgb(249,53,169);
    border-radius: 20px;
}
#usersStyle > i{
    margin-top: 20px;
    height: 50px;
}
#maleStyle{
    margin-top: 20px;
    height: 100px;
    color: white;
    background-color: rgb(48,187,181);
    border-radius: 20px;
}
#maleStyle > i {
    margin-top: 20px;
    height: 50px;
}
#femaleStyle{
    margin-top: 20px;
    height: 100px;
    color: white;
    background-color: rgb(121,70,193);
    border-radius: 20px;
}
#femaleStyle > i {
    margin-top: 20px;
    height: 50px;
}
.userP{
    margin-top: 20px;
}

#SecondDiv{
    background-color: rgb(247,247,255);
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
}
/* css for second search bar */
.countrySearch{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: flex;    
    align-items: center;
    padding: 20px;
    background-color: rgb(226,227,236);
}
.countrySearch > i {
    font-size: 20px;
    color: rgb(15, 15, 15);
}
.countrySearch > input {
    width: 20px;
    flex: 1;
    height: 20px;
    border: none;
    color:black;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgb(226,227,236);
}
.countrySearch > a{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(12, 12, 12);
}
.countrySearch > a:hover{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(214, 200, 200);
}
.countrySearch > a:focus{
    text-decoration: none;
    border: none;  
    font-size: 20px;
    color: rgb(97, 95, 95);
}
.styleSecond{
    margin-left: -10px;
}
/* end of css second search bar */
/* blog card css style */
.card{
    margin-top: 20px;
    box-shadow: 0px 5px 5px grey;
}
.images{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid rgb(48,187,181);
}
.text-muted > i{
    padding-top: -10px;
}
.btns{
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}
.text-muted{
    font-size: 12px;
}
.btns:focus{
    border: none;
}
.classess{
    border: none;
    background-color: white;
}
#classess{
    margin: 10px;
}
.emails{
    width: 230px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(226,227,236);
    border: none;
    color: rgb(161, 162, 168);
}
.emails > i {
    color:rgb(161, 162, 168);
    margin-left: 10px;
}
#hiddens{
    display: none;
}